:root {
    --color-primario: #151925;
    --color-secundario: #22395C;

}

html {
    box-sizing: border-box;
    font-size: 10px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: #e1e1e1;
}
h2{
    font-size: 2.5rem;
    text-align: center;
    color: var(--color-secundario);
    margin: 2rem 0;
}
img{
    width: 100%;
}
a{
    text-decoration: none;
}
.btn{
    background-color: #8EA8C2;
    padding: 5rem 0;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
    color: #151925;
    height: 5rem;
}
.btn:hover{
    background-color: #22395C;
}
/* HEADER */

.header-contenedor{
    background-image: url("../images/bg.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.header-contenedor::after{
    content: '';
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}
.title, .nav-bar{
    z-index: 2;
}
.title{
    font-family: 'Cedarville Cursive', cursive;
    font-size: 7rem;
    color: #8EA8C2;
    font-weight: 700;
}

.nav-bar-link{
    color: #e1e1e1;
    font-size: 2rem;
    font-weight: 400;
    margin-right: 3rem;
    padding: 1rem 2rem;
    transition: all 0.5s ease-in-out; 
}
.nav-bar-link:hover{
    color: #8EA8C2;
}
.nav-bar-link:last-of-type{
    margin-right: 0;
}

/* Platillos */
.platillos-contenedor{
    margin: 0 auto;
    width: 110rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.platillo{
    position: relative;
    flex: 0 0 calc(33.3% - 1rem);
    margin-bottom: 2rem ;
    filter: grayscale(0.5);
    overflow: hidden;
    transition: all 0.5s ease-in-out;
}
.platillo:hover{
    transform: scale(1.05);
    filter: grayscale(0);
}
.platillo-nombre{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
    background-color: rgba(34, 57, 92, 0.5);
    padding: 1.5rem 0;
    color: #e1e1e1;
    font-size: 1.8rem;
}

/* platillo.html */
.header.barra{
    background-color: #22395C;
}
.header.barra .title{
    font-size: 4rem;
}


.main{
    max-width: 100rem;
    width: 100%;
    margin: 3rem auto 5rem auto;
}
.main .platillo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    filter: grayscale(0);
}
.main .platillo:hover{
    transform: none;
}
.platillo-contenedor-imagen{
    flex: 0 0 calc(50% - 1rem);
}
.platillo-detalles{
    flex: 0 0 calc(50% - 1rem);    
}
.platillo-detalles_nombre{
    font-size: 2.5rem;
    text-align: center;
    color: var(--color-secundario);
}
.platillo-detalles_descripcion{
    font-weight: 300;
    margin: 2rem 0;
    font-size: 1.6rem;
    color: var(--color-secundario);
}
.platillo-detalles_tipo,
.platillo-detalles_stock,
.platillo-detalles_precio{
    margin-bottom: 1rem;
    font-size: 1.8rem;
    color:var(--color-primario);
}
.platillo-detalles_tipo span,
.platillo-detalles_stock span,
.platillo-detalles_precio span{
    color: red;
}

/* Formulario */
.formulario{
    position: relative;
    border: 1px solid #22395C;
    background-color: #fff;
    box-shadow: 0 6px 6px #555555, 6px 0 8px #555555 ;
    border-radius: 4px;
    padding: 2rem;
    width: 40%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.formulario-campo{
    position: relative;
    flex: 0 0 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3.5rem;
}
.formulario-campo:last-of-type{
    margin-bottom: 0;
}
.formulario h2{
    font-size: 2rem;
    margin: 0 0 3rem 0;
}
.formulario-campo label{
    font-size: 1.6rem;
    width: 9.5rem;
    color: var(--color-secundario);
}
.formulario-campo input,
.formulario-campo textarea,
.formulario-campo select{
    flex: 1;
    padding: 1.2rem 0;
    font-size: 1.6rem;
    border: 1px solid gray;
}

.notificacion{
    position: fixed;
    top: 0;
    right: 0;
    font-size: 1.5rem;
    margin: .2rem 1rem 0 0;
    padding: 0.5rem 2rem;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
}
.error{
    background-color: rgb(163, 0, 33);
    color: #fff;
}
.success{
    background-color: green;
    color: rgb(179, 241, 117);
}
.shadow{
    -webkit-box-shadow: 4px 6px 8px 1px rgba(0,0,0,0.54); 
    box-shadow: 4px 6px 8px 1px rgba(0,0,0,0.54);
}

/* Table */
table{
    width: 100%;
}
.table-row{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: .8rem 0;
    margin-bottom: 1px;
    text-align: center;
    background-color: #8EA8C2;
}
.cell{
    width: 33.3%;
    color: var(--color-secundario);
    font-size: 1.6rem;
    border-bottom: none;
}
.options{
    display: flex;
    justify-content: space-evenly;
}
.options a,
.options button{
    color: var(--primary);
    cursor: pointer;
    border: none;
    background-color: unset;
}
i{
    font-size: 2.5rem;
}